### Extract Data from Websites

In [54]:
import os 
import pandas as pd
pd.set_option('display.max_colwidth', 1000000)  ## To see full content Set Column width
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt
import requests   # connect between python and a webserver 
from bs4 import BeautifulSoup  # parsing data and fetching from website
import warnings
warnings.filterwarnings('ignore')

## News Channel Content

### General News

In [2]:
india_news='https://www.timesnownews.com/india' ##Website page link
india_news_req=requests.get(india_news)
india_news_req

**<Response [200]> means connection is established.**

100 : informational code indicates that the request is intiated by the browser in continues 
200 : successful connection
300 : Redirecting codes 
400 : Client error indicating that there was a problem with request
404 : not found : page is available or the server can not find the resources 
etc...

In [3]:
india_news_content=india_news_req.content  ##To see the webpage content

In [4]:
india_news_parser=BeautifulSoup(india_news_content, parser="html.parser") ##To create HTML view

In [5]:
## Creating List of News
News_India=[]
for i in india_news_parser.find_all("div",class_="undefined" ):
    v=i.text
    News_India.append(v)
print(News_India)

["Narendra Modi security breach: 'PM is God, I am his diehard fan' - Karnataka youth who tried to garland Prime Minister", "Great opportunity for India to become a major power: India's G-20 Sherpa Amitabh Kant", "Tamil Nadu BJP president K Annamalai to get 'Z' security", "Experiences of my father Amiya Nath Bose during India's freedom struggle", "Air India pee-gate case: 'Lady urinated on herself', accused Shankar Mishra tells court", 'First look at Ayodhya Ram Temple: 3D stories, grand statues, special stones, what more will make a "Bhavya Ram Mandir"?', 'PM Modi flags off ‘world’s longest river cruise’ Ganga Vilas from Varanasi- Why it matters  in 10 points', 'J&K: Train derails in Budgam; no casualties reported', "Varanasi Tent City FAQ: Here's how to book luxury cottages; check ticket price, facilities, and more...", 'WATCH: Jammu-Srinagar highway shut due to snowfall, landslide, shooting stones', 'PM Modi inaugurates luxurious Ganga Vilas cruise, tent city in Varanasi', 'Joshimath subsidence: 2 tilting hotels on verge of collapse being razed; stage set for demolitions in sinking holy town', 'Whole Joshimath likely to sink, slipped 5.4 cm in last 7 days: shows ISRO satellite images', 'Radiation technologies to boost crop productivity, food security, sustainability: Experts', "Kashi Tent City: PM set to inaugurate luxurious tourist delight in India's spiritual capital Varanasi", 'Major Jasmine Chattha leads parade as Indian peacekeepers receive UN medals for outstanding service in South Sudan', "'He strengthened the politics of equality': Political India pays homage to 'socialist stalwart' Sharad Yadav", 'Panama Papers leak: Central American nation minister assures aid to Indian probe', 'Live Updates', 'LIVE Breaking News January 13, 2023: Amit Shah chairs high level security review meeting in Jammu, NIA & Jammu Police to investigate terror incidents', 'Snowfall likely in Himachal Pradesh, Uttarakhand today; IMD predicts cold wave in Delhi, northwest India next week', 'Indian woman accuses Pakistan High Commission staffer of demanding sexual favours: Islamabad responds to allegations']

In [6]:
News=pd.DataFrame(News_India, columns=['General_News'])[:22]
News

                                         General_News
0   Narendra Modi security breach: 'PM is God, I a...
1   Great opportunity for India to become a major ...
2   Tamil Nadu BJP president K Annamalai to get 'Z...
3   Experiences of my father Amiya Nath Bose durin...
4   Air India pee-gate case: 'Lady urinated on her...
5   First look at Ayodhya Ram Temple: 3D stories, ...
6   PM Modi flags off ‘world’s longest river cruis...
7   J&K: Train derails in Budgam; no casualties re...
8   Varanasi Tent City FAQ: Here's how to book lux...
9   WATCH: Jammu-Srinagar highway shut due to snow...
10  PM Modi inaugurates luxurious Ganga Vilas crui...
11  Joshimath subsidence: 2 tilting hotels on verg...
12  Whole Joshimath likely to sink, slipped 5.4 cm...
13  Radiation technologies to boost crop productiv...
14  Kashi Tent City: PM set to inaugurate luxuriou...
15  Major Jasmine Chattha leads parade as Indian p...
16  'He strengthened the politics of equality': Po...
17  Panama Papers leak: Central American nation mi...
18                                       Live Updates
19  LIVE Breaking News January 13, 2023: Amit Shah...
20  Snowfall likely in Himachal Pradesh, Uttarakha...
21  Indian woman accuses Pakistan High Commission ...

### Sport News

In [7]:
sport_news='https://www.timesnownews.com/sports' ## Sports news
sport_news_req=requests.get(sport_news)
sport_news_req

In [8]:
sport_news_content=sport_news_req.content
sport_news_parser=BeautifulSoup(sport_news_content, parser="html.parser") ##To create HTML view

In [9]:
## Creating List of News
News_Sports=[]
for i in sport_news_parser.find_all("div",class_="undefined" ):
    v=i.text
    News_Sports.append(v)
print(News_Sports)

["'Not gonna travel 6.5 hrs to bat for 3 hrs': Ex-India cricketer reveals unheard story of Rahul Dravid - WATCH", "Our first goal is to get through very tough pool: Viren Rasquinha on India's chances at Hockey World Cup", "No Pakistan in Hockey WC 2023! Here's the reason why four-time winners are missing from this year's megaevent", "KS Bharat ready to fill Rishabh Pant shoes & be a 'marauder like him' as well in Tests against Australia", "'If Babar Azam is selfish then...': Saeed Ajmal hits out at Pakistan skipper's critics - WATCH", "WATCH: Virat Kohli, Ishan Kishan entertain Eden crowd with stunning dance moves after India's win in 2nd ODI", 'No Ronaldo! Cristiano snubbed as Lionel Messi, Kylian Mbappe shortlisted for FIFA The Best awards', "'Virat Kohli is there because...': Gautam Gambhir reacts after star batter fails to fire in 2nd ODI vs SL", "Don't say anthing...: Ravindra Jadeja posts cryptic tweet amid long injury layoff", "Shastri said 'You have to respect MS': Ex-Ind coach claims Kohli was eager to be white-ball captain in 2016", 'Mitchell Santner set to lead New Zealand during T20I leg of tour of India', 'Barcelona beat Real Betis on penalties, reach Clasico Super Cup final', "MSD told Pant 'Dont want to miss my last bus ride': R Sridhar makes stunning MS Dhoni retirement revelation", "'Mujhe bada hi karna padega...': Prithvi Shaw's coach recalls his words before the start of domestic season", "'Surya ke to hum batting coach hain, ab...': Chahal's hilarious reply to Kuldeep Yadav's praise goes viral - WATCH", "'Not gonna travel 6.5 hrs to bat for 3 hrs': Ex-India cricketer reveals unheard story of Rahul Dravid - WATCH", 'More from Cricket ', "Graham Potter's misery mounts as Fulham beat Chelsea after Joao Felix red card", 'Barcelona beat Real Betis on penalties, reach Clasico Super Cup final', "Lionel Messi vs Cristiano Ronaldo in Saudi Arabia? Al-Nassr's rival club looking to sign WC winner: Report", 'Thibaut Courtois heroics help Madrid beat Valencia to reach Super Cup final', 'More from Football ', 'WWE Raw results: Austin Theory stuns Seth Rollins to retain US Championship; Belair defeats Bliss', 'WWE Smackdown complete results: John Cena makes a winning return; Charlotte Flair dethrones Ronda Rousey', "2217 matches, 1756 wins: Looking at John Cena's insane records as WWE legend returns to Smackdown", 'More from WWE ', "Go and enjoy yourself, we all are backing you: Virat Kohli leads wishes for Indian men's hockey team", "Our first goal is to get through very tough pool: Viren Rasquinha on India's chances at Hockey World Cup", "No Pakistan in Hockey WC 2023! Here's the reason why four-time winners are missing from this year's mega-event", 'IND vs ESP Dream 11 prediction: Fantasy tips for India vs Spain Hockey World Cup 2023 Group D game', 'More from Hockey ', 'Badminton Malaysia Open live streaming: When and where to watch Super 1000 event live in India?', 'Saina Nehwal among shuttlers to skip national trials for Asian Mixed Teams Championships', 'Sporting events in 2023: Here are the key badminton tournaments to watch out for', 'Forbes declares PV Sindhu as the 12th highest paid sportswoman in the world in 2022', 'More from Badminton ', 'Two-time champion Naomi Osaka pulls out of Australian Open 2023', 'Sania Mirza confirms retirement plans, will play her final tournament in Dubai next month', 'World No. 1 Carlos Alcaraz to miss Australian Open with leg injury', 'Boris Becker back to work as Australian Open pundit', 'More from Tennis ', "Sprint legend Michael Johnson in awe of Neeraj Chopra's athleticism, shares two videos from his training", "Neeraj Chopra ends Usain Bolt's years of dominance, emerges as most written-about track and field athlete in 2022", 'Kenyan Olympic gold medallist David Rudisha survives scary plane crash', 'Back at the stadium where it all changed: Neeraj Chopra returns to Tokyo; recreates Olympic gold throw - watch', 'More from Athletics ']

In [12]:
sport=pd.DataFrame(News_Sports, columns=['Sports_News'])[:22]
News['Sports_News']=sport['Sports_News']
News

,General_News,Sports_News
0,"Narendra Modi security breach: 'PM is God, I a...",'Not gonna travel 6.5 hrs to bat for 3 hrs': E...
1,Great opportunity for India to become a major ...,Our first goal is to get through very tough po...
2,Tamil Nadu BJP president K Annamalai to get 'Z...,No Pakistan in Hockey WC 2023! Here's the reas...
3,Experiences of my father Amiya Nath Bose durin...,KS Bharat ready to fill Rishabh Pant shoes & b...
4,Air India pee-gate case: 'Lady urinated on her...,'If Babar Azam is selfish then...': Saeed Ajma...
5,"First look at Ayodhya Ram Temple: 3D stories, ...","WATCH: Virat Kohli, Ishan Kishan entertain Ede..."
6,PM Modi flags off ‘world’s longest river cruis...,"No Ronaldo! Cristiano snubbed as Lionel Messi,..."
7,J&K: Train derails in Budgam; no casualties re...,'Virat Kohli is there because...': Gautam Gamb...
8,Varanasi Tent City FAQ: Here's how to book lux...,Don't say anthing...: Ravindra Jadeja posts cr...
9,WATCH: Jammu-Srinagar highway shut due to snow...,Shastri said 'You have to respect MS': Ex-Ind ...
10,PM Modi inaugurates luxurious Ganga Vilas crui...,Mitchell Santner set to lead New Zealand durin...
11,Joshimath subsidence: 2 tilting hotels on verg...,"Barcelona beat Real Betis on penalties, reach ..."
12,"Whole Joshimath likely to sink, slipped 5.4 cm...",MSD told Pant 'Dont want to miss my last bus r...
13,Radiation technologies to boost crop productiv...,'Mujhe bada hi karna padega...': Prithvi Shaw'...
14,Kashi Tent City: PM set to inaugurate luxuriou...,"'Surya ke to hum batting coach hain, ab...': C..."
15,Major Jasmine Chattha leads parade as Indian p...,'Not gonna travel 6.5 hrs to bat for 3 hrs': E...
16,'He strengthened the politics of equality': Po...,More from Cricket
17,Panama Papers leak: Central American nation mi...,Graham Potter's misery mounts as Fulham beat C...
18,Live Updates,"Barcelona beat Real Betis on penalties, reach ..."
19,"LIVE Breaking News January 13, 2023: Amit Shah...",Lionel Messi vs Cristiano Ronaldo in Saudi Ara...
20,"Snowfall likely in Himachal Pradesh, Uttarakha...",Thibaut Courtois heroics help Madrid beat Vale...
21,Indian woman accuses Pakistan High Commission ...,More from Football

### Business News

In [13]:
news_buss='https://www.timesnownews.com/business-economy'
news_buss_req=requests.get(news_buss)
news_buss_req

In [14]:
news_buss_parser=BeautifulSoup(news_buss_req.content, parser="html.parser") # HTML view

#Creating list of Content
News_Business=[]
for i in news_buss_parser.find_all("div", class_="undefined"):
    v=i.text
    News_Business.append(v)
print(News_Business)

['Oil poised for robust weekly gain on China demand hopes', 'Wipro dividend 2023: IT major to announce Q3 earnings, may declare dividend - things you should know', 'MV Ganga Vilas sets sail – How do cruises make profits despite huge expenses?', "Big boost for India-Russia trade: Russia's second largest bank VTB launches direct payments in Rupees", 'Sensex reverses early losses to end 300 points higher led by metal, PSU banks; Jet Airways up 5%', 'Gold hits fresh high of Rs 56,245 per 10 grams on MCX - Know the reasons behind the rise', 'Market Fatafat - Stocks buzzing in trade today', "China's 2023 inflation to remain mild, People's Bank of China to avoid 'flooding economy with stimulus'", 'HDFC Bank Quarterly Results: Q3 FY2023 earnings announcement Date, Time | Preview, Expectations', 'Budget 2023: Deloitte India’s Amrish Shah shares wishlist with ET Now', 'Despite big age difference, Bill Gates and Warren Buffet continue to be good friends; still play bridge', 'BCL Industries approves issuance of over 55 lakh convertible bonds at Rs 360 - Check face value', 'MV Ganga Vilas sets sail – How do cruises make profits despite huge expenses?', "Big boost for India-Russia trade: Russia's second largest bank VTB launches direct payments in Rupees", "China's 2023 inflation to remain mild, People's Bank of China to avoid 'flooding economy with stimulus'", 'Budget 2023: Deloitte India’s Amrish Shah shares wishlist with ET Now', 'More from Economy ', 'Gold Price Today: 13 Jan 2023 - Check latest rates in your city', "India's UPI Goes Global", 'Budget 2023 Income Tax: Expectations - Will salaried individuals get good news from FM Nirmala Sitharaman?', 'PAN card to be one ID for all business processes? – Details inside', 'More from Personal Finance ', 'Sensex reverses early losses to end 300 points higher led by metal, PSU banks; Jet Airways up 5%', 'Market Fatafat - Stocks buzzing in trade today', 'Sensex, Nifty start in red even as inflation eases in December; Infosys, HCL Tech decline post Q3 results', 'Stock Market Essentials For January 13', 'More from Markets ', 'Wipro dividend 2023: IT major to announce Q3 earnings, may declare dividend - things you should know', 'Jet Airways share price zooms 5% after NCLT allows Jalan-Kalrock to take control of airline', 'HDFC Bank Quarterly Results: Q3 FY2023 earnings announcement Date, Time | Preview, Expectations', 'Despite big age difference, Bill Gates and Warren Buffet continue to be good friends; still play bridge', 'More from Companies ', 'DNA Jewellery Shark Tank: Ornaments made of breast milk, teeth, hair left judges ‘disgusted’; netizens slam sharks', 'Bank strike: Banking services to be affected on these 2 days; details here', 'Shark Tank India 2: Sharks fight over equity in Nestroots; Namita Thapar Anupam Mittal to keep ego in check, walks out', 'Business travel to US may ease soon as India asks for speedy issuance of B-1 visas', 'More from Industry ', 'Residential housing sales in top 7 cities touch decade-high of 215,000 units despite high rates: JLL', 'In which Indian states are people from outside restricted from buying land? Check state names, other details', 'Foreigners banned from buying residential property in Canada for 2 years; details here', 'Noida Authority directs DLF to pay Rs 235 crore for Mall of India land', 'More from Real Estate ']

In [22]:
business=pd.DataFrame(News_Business, columns=['Business_News'])[:22]
News['Business_News']=business['Business_News']
News

,General_News,Sports_News,Business_News
0,"Narendra Modi security breach: 'PM is God, I am his diehard fan' - Karnataka youth who tried to garland Prime Minister",'Not gonna travel 6.5 hrs to bat for 3 hrs': Ex-India cricketer reveals unheard story of Rahul Dravid - WATCH,Oil poised for robust weekly gain on China demand hopes
1,Great opportunity for India to become a major power: India's G-20 Sherpa Amitabh Kant,Our first goal is to get through very tough pool: Viren Rasquinha on India's chances at Hockey World Cup,"Wipro dividend 2023: IT major to announce Q3 earnings, may declare dividend - things you should know"
2,Tamil Nadu BJP president K Annamalai to get 'Z' security,No Pakistan in Hockey WC 2023! Here's the reason why four-time winners are missing from this year's megaevent,MV Ganga Vilas sets sail – How do cruises make profits despite huge expenses?
3,Experiences of my father Amiya Nath Bose during India's freedom struggle,KS Bharat ready to fill Rishabh Pant shoes & be a 'marauder like him' as well in Tests against Australia,Big boost for India-Russia trade: Russia's second largest bank VTB launches direct payments in Rupees
4,"Air India pee-gate case: 'Lady urinated on herself', accused Shankar Mishra tells court",'If Babar Azam is selfish then...': Saeed Ajmal hits out at Pakistan skipper's critics - WATCH,"Sensex reverses early losses to end 300 points higher led by metal, PSU banks; Jet Airways up 5%"
5,"First look at Ayodhya Ram Temple: 3D stories, grand statues, special stones, what more will make a ""Bhavya Ram Mandir""?","WATCH: Virat Kohli, Ishan Kishan entertain Eden crowd with stunning dance moves after India's win in 2nd ODI","Gold hits fresh high of Rs 56,245 per 10 grams on MCX - Know the reasons behind the rise"
6,PM Modi flags off ‘world’s longest river cruise’ Ganga Vilas from Varanasi- Why it matters in 10 points,"No Ronaldo! Cristiano snubbed as Lionel Messi, Kylian Mbappe shortlisted for FIFA The Best awards",Market Fatafat - Stocks buzzing in trade today
7,J&K: Train derails in Budgam; no casualties reported,'Virat Kohli is there because...': Gautam Gambhir reacts after star batter fails to fire in 2nd ODI vs SL,"China's 2023 inflation to remain mild, People's Bank of China to avoid 'flooding economy with stimulus'"
8,"Varanasi Tent City FAQ: Here's how to book luxury cottages; check ticket price, facilities, and more...",Don't say anthing...: Ravindra Jadeja posts cryptic tweet amid long injury layoff,"HDFC Bank Quarterly Results: Q3 FY2023 earnings announcement Date, Time | Preview, Expectations"
9,"WATCH: Jammu-Srinagar highway shut due to snowfall, landslide, shooting stones",Shastri said 'You have to respect MS': Ex-Ind coach claims Kohli was eager to be white-ball captain in 2016,Budget 2023: Deloitte India’s Amrish Shah shares wishlist with ET Now
10,"PM Modi inaugurates luxurious Ganga Vilas cruise, tent city in Varanasi",Mitchell Santner set to lead New Zealand during T20I leg of tour of India,"Despite big age difference, Bill Gates and Warren Buffet continue to be good friends; still play bridge"
11,Joshimath subsidence: 2 tilting hotels on verge of collapse being razed; stage set for demolitions in sinking holy town,"Barcelona beat Real Betis on penalties, reach Clasico Super Cup final",BCL Industries approves issuance of over 55 lakh convertible bonds at Rs 360 - Check face value
12,"Whole Joshimath likely to sink, slipped 5.4 cm in last 7 days: shows ISRO satellite images",MSD told Pant 'Dont want to miss my last bus ride': R Sridhar makes stunning MS Dhoni retirement revelation,MV Ganga Vilas sets sail – How do cruises make profits despite huge expenses?
13,"Radiation technologies to boost crop productivity, food security, sustainability: Experts",'Mujhe bada hi karna padega...': Prithvi Shaw's coach recalls his words before the start of domestic season,Big boost for India-Russia trade: Russia's second largest bank VTB launches direct payments in Rupees
14,Kashi Tent City: PM set to inaugurate luxurious tourist delight in India's spiritual capital Varanasi,"'Surya ke to hum batting coach hain, ab...': Chahal's hilarious reply to Kuldeep Yadav's praise goes viral - WATCH","China's 2023 inflation to remain mild, People's Bank of China to avoid 'flooding economy with stimulus'"
15,Major Jasmine Chattha leads parade as Indian peacekeepers receive UN medals for outstanding service in South Sudan,'Not gonna travel 6.5 hrs to bat for 3 hrs': Ex-India cricketer reveals unheard story of Rahul Dravid - WATCH,Budget 2023: Deloitte India’s Amrish Shah shares wishlist with ET Now
16,'He strengthened the politics of equality': Political India pays homage to 'socialist stalwart' Sharad Yadav,More from Cricket,More from Economy
17,Panama Papers leak: Central American nation minister assures aid to Indian probe,Graham Potter's misery mounts as Fulham beat Chelsea after Joao Felix red card,Gold Price Today: 13 Jan 2023 - Check latest rates in your city
18,Live Updates,"Barcelona beat Real Betis on penalties, reach Clasico Super Cup final",India's UPI Goes Global
19,"LIVE Breaking News January 13, 2023: Amit Shah chairs high level security review meeting in Jammu, NIA & Jammu Police to investigate terror incidents",Lionel Messi vs Cristiano Ronaldo in Saudi Arabia? Al-Nassr's rival club looking to sign WC winner: Report,Budget 2023 Income Tax: Expectations - Will salaried individuals get good news from FM Nirmala Sitharaman?
20,"Snowfall likely in Himachal Pradesh, Uttarakhand today; IMD predicts cold wave in Delhi, northwest India next week",Thibaut Courtois heroics help Madrid beat Valencia to reach Super Cup final,PAN card to be one ID for all business processes? – Details inside
21,Indian woman accuses Pakistan High Commission staffer of demanding sexual favours: Islamabad responds to allegations,More from Football,More from Personal Finance

## Flipkart

### Flipkart Customers who rated the product

In [26]:
flipkart='https://www.flipkart.com/lenovo-celeron-dual-core-4-gb-256-gb-hdd-256-ssd-dos-82c3a00dih-laptop/p/itmb75ac327d555a?pid=COMGEEXTG9GGBKRT&lid=LSTCOMGEEXTG9GGBKRTMKA2ZB&marketplace=FLIPKART&store=6bo%2Fb5g&srno=b_1_5&otracker=browse&otracker1=hp_rich_navigation_PINNED_neo%2Fmerchandising_NA_NAV_EXPANDABLE_navigationCard_cc_8_L1_view-all&fm=organic&iid=d954fdd8-1cad-49d2-bd27-4c2797a99538.COMGEEXTG9GGBKRT.SEARCH&ppt=hp&ppn=homepage&ssid=h012nkpb9c0000001673612683974'
flipkart_req=requests.get(flipkart)
flipkart_req

In [29]:
flipkart_parser=BeautifulSoup(flipkart_req.content, parser='html.parser') #HTML view

user=[]
for i in flipkart_parser.find_all("p", class_="_2sc7ZR _2V5EHH"):
    v=i.text
    user.append(v)
print(user)

['Flipkart Customer', 'ROHIT  Kumar', 'Sucharita  Ghosh roy', 'Ashu  sharma', 'Flipkart Customer', 'Flipkart Customer', 'JITENDRA KUMAR  YADAV']

In [31]:
Flipkart=pd.DataFrame(user, columns=['Customer_Name'])
Flipkart

           Customer_Name
0      Flipkart Customer
1           ROHIT  Kumar
2   Sucharita  Ghosh roy
3           Ashu  sharma
4      Flipkart Customer
5      Flipkart Customer
6  JITENDRA KUMAR  YADAV

### FLipkart product Review by user

In [33]:
flipkart_parser_r=BeautifulSoup(flipkart_req_r.content, parser='html.parser') #HTML view

review=[]
for i in flipkart_parser_r.find_all("p", class_="_2-N8zT"):
    v=i.text
    review.append(v)
print(review)

['Great product', 'Highly recommended', 'Does the job', 'Perfect product!', 'Very Good', 'Bad quality', 'Highly recommended', 'Excellent']

In [35]:
review=pd.DataFrame(review, columns=['Reviews'])
Flipkart['Reviews']=review['Reviews']
Flipkart

           Customer_Name             Reviews
0      Flipkart Customer       Great product
1           ROHIT  Kumar  Highly recommended
2   Sucharita  Ghosh roy        Does the job
3           Ashu  sharma    Perfect product!
4      Flipkart Customer           Very Good
5      Flipkart Customer         Bad quality
6  JITENDRA KUMAR  YADAV  Highly recommended

### Price of products

In [36]:
flipkart_parser_p=BeautifulSoup(flipkart_req.content, parser='html.parser') #HTML view

price=[]
for i in flipkart_parser.find_all("div", class_="_30jeq3"):
    v=i.text
    price.append(v)
print(price)

['₹19,990', '₹19,990', '₹185', '₹557']

In [37]:
price=pd.DataFrame(price, columns=['Price'])
Flipkart['Price']=price['Price']
Flipkart

           Customer_Name             Reviews    Price
0      Flipkart Customer       Great product  ₹19,990
1           ROHIT  Kumar  Highly recommended  ₹19,990
2   Sucharita  Ghosh roy        Does the job     ₹185
3           Ashu  sharma    Perfect product!     ₹557
4      Flipkart Customer           Very Good      NaN
5      Flipkart Customer         Bad quality      NaN
6  JITENDRA KUMAR  YADAV  Highly recommended      NaN

## Crickbuz

### Test Ranking

In [21]:
test_rank='https://www.cricbuzz.com/cricket-stats/icc-rankings/men/batting'
test_rank_req=requests.get(test_rank)
test_rank_req

In [36]:
test_rank_parser=BeautifulSoup(bat_rank_req.content, parser='html.parser')

test_ranking=[]
for i in test_rank_parser.find_all("a", class_="text-hvr-underline text-bold cb-font-16"):
    v=i.text
    test_ranking.append(v)
print(test_ranking[0:97])

['Marnus Labuschagne', 'Steven Smith', 'Babar Azam', 'Travis Head', 'Joe Root', 'Kane Williamson', 'Rishabh Pant', 'Usman Khawaja', 'Dimuth Karunaratne', 'Rohit Sharma', 'Daryl Mitchell', 'Litton Das', 'Jonny Bairstow', 'David Warner', 'Virat Kohli', 'Dinesh Chandimal', 'Tom Blundell', 'Shreyas Iyer', 'Tom Latham', 'Angelo Mathews', 'Devon Conway', 'Cheteshwar Pujara', 'Temba Bavuma', 'Mushfiqur Rahim', 'Kraigg Brathwaite', 'Ben Stokes', 'Mayank Agarwal', 'Alex Carey', 'Ollie Pope', 'Imam-ul-Haq', 'Mohammad Rizwan', 'Sean Williams', 'Dean Elgar', 'Azhar Ali', 'Colin de Grandhomme', 'Henry Nicholls', 'Abid Ali', 'Ravindra Jadeja', 'Cameron Green', 'Dhananjaya de Silva', 'Shakib Al Hasan', 'Ajinkya Rahane', 'Tamim Iqbal', 'Keegan Petersen', 'Harry Brook', 'Abdullah Shafique', 'Jermaine Blackwood', 'Niroshan Dickwella', 'Kyle Verreynne', 'Sarfaraz Ahmed', 'Sikandar Raza', 'Nkrumah Bonner', 'Zak Crawley', 'KL Rahul', 'Kusal Mendis', 'Ben Duckett', 'Fawad Alam', 'Rassie van der Dussen', 'Aiden Markram', 'Oshada Fernando', 'Shubman Gill', 'Hanuma Vihari', 'Ibrahim Zadran', 'Rory Burns', 'Ben Foakes', 'Mahmudullah', 'Tim Paine', 'Mominul Haque', 'Kyle Mayers', 'Pathum Nissanka', 'Jos Buttler', 'Jason Holder', 'Sarel Erwee', 'Kusal Perera', 'Shane Dowrich', 'Alex Lees', 'Matthew Wade', 'John Campbell', 'Joshua Da Silva', 'Regis Chakabva', 'Joe Burns', 'Washington Sundar', 'Ravichandran Ashwin', 'Shan Masood', 'Najmul Hossain Shanto', 'Lahiru Thirimanne', 'Hashmatullah Shahidi', 'Kamindu Mendis', 'Dominic Sibley', 'Faheem Ashraf', 'Jamie Overton', 'Nurul Hasan', 'Chris Woakes', 'Roston Chase', 'Dawid Malan', 'Marcus Harris', 'Will Young']

In [37]:
Ranking_Men=pd.DataFrame(test_ranking, columns=["Test_Ranking"])[:10]
Ranking_Men

         Test_Ranking
0  Marnus Labuschagne
1        Steven Smith
2          Babar Azam
3         Travis Head
4            Joe Root
5     Kane Williamson
6        Rishabh Pant
7       Usman Khawaja
8  Dimuth Karunaratne
9        Rohit Sharma

### ODI ranking

In [38]:
odi_rank='https://www.cricbuzz.com/cricket-stats/icc-rankings/men/batting'
odi_rank_req=requests.get(odi_rank)
odi_rank_req

In [47]:
odi_rank_parser=BeautifulSoup(odi_rank_req.content, parser='html.parser')

odi_ranking=[]
for i in odi_rank_parser.find_all("a", class_="text-hvr-underline text-bold cb-font-16"):
    v=i.text
    odi_ranking.append(v)
print(odi_ranking[97:196])
odi=odi_ranking[97:196]

['Babar Azam', 'Rassie van der Dussen', 'Imam-ul-Haq', 'Quinton de Kock', 'David Warner', 'Virat Kohli', 'Steven Smith', 'Rohit Sharma', 'Jonny Bairstow', 'Fakhar Zaman', 'Kane Williamson', 'Shai Hope', 'Joe Root', 'Paul Stirling', 'Shreyas Iyer', 'Tom Latham', 'Tamim Iqbal', 'Jason Roy', 'David Miller', 'Alex Carey', 'Aaron Finch', 'Mushfiqur Rahim', 'Glenn Maxwell', 'Shikhar Dhawan', 'Rahmat Shah', 'Martin Guptill', 'Harry Tector', 'Nicholas Pooran', 'Travis Head', 'Litton Das', 'Jos Buttler', 'Sikandar Raza', 'Shakib Al Hasan', 'Charith Asalanka', 'Mahmudullah', 'Shubman Gill', 'Gerhard Erasmus', 'Ishan Kishan', 'KL Rahul', 'Calum MacLeod', 'Haris Sohail', 'Najibullah Zadran', 'Kyle Coetzer', 'Andrew Balbirnie', 'Assad Vala', 'Monank Patel', 'George Munsey', 'Ibrahim Zadran', 'Kusal Mendis', 'Janneman Malan', 'Aqib Ilyas', 'Hashmatullah Shahidi', 'Aaron Jones', 'Sean Williams', 'Aiden Markram', 'Heinrich Klaasen', 'Rahmanullah Gurbaz', 'Avishka Fernando', 'Henry Nicholls', 'Shimron Hetmyer', 'Dasun Shanaka', 'Scott Edwards', 'Finn Allen', 'Zeeshan Maqsood', 'Jatinder Singh', 'Kusal Perera', 'Mohammad Nabi', 'Danushka Gunathilaka', 'Richie Berrington', 'Marnus Labuschagne', 'Angelo Mathews', 'Imad Wasim', 'Vriitya Aravind', 'Dhananjaya de Silva', 'Mohammad Rizwan', 'Hardik Pandya', 'Tom Cooper', 'Steven Taylor', 'Marcus Stoinis', 'Temba Bavuma', 'Evin Lewis', 'Rohit Paudel', 'Mitchell Santner', 'Sarfaraz Ahmed', 'Soumya Sarkar', 'Pathum Nissanka', 'Mitchell Marsh', 'James Neesham', 'Shamarh Brooks', 'Mehidy Hasan Miraz', 'Rishabh Pant', 'Niroshan Dickwella', 'Michael Leask', 'Max ODowd', 'Craig Ervine', 'Philip Salt', 'Sanju Samson', 'Colin de Grandhomme', 'Dawid Malan']

In [48]:
odi_ranks=pd.DataFrame(odi, columns=["ODI_Ranking"])[:10]
Ranking_Men["ODI_Ranking"]=odi_ranks["ODI_Ranking"]
Ranking_Men

         Test_Ranking            ODI_Ranking
0  Marnus Labuschagne             Babar Azam
1        Steven Smith  Rassie van der Dussen
2          Babar Azam            Imam-ul-Haq
3         Travis Head        Quinton de Kock
4            Joe Root           David Warner
5     Kane Williamson            Virat Kohli
6        Rishabh Pant           Steven Smith
7       Usman Khawaja           Rohit Sharma
8  Dimuth Karunaratne         Jonny Bairstow
9        Rohit Sharma           Fakhar Zaman

### T20 Ranking

In [49]:
t20_rank='https://www.cricbuzz.com/cricket-stats/icc-rankings/men/batting'
t20_rank_req=requests.get(odi_rank)
t20_rank_req

In [52]:
t20_rank_parser=BeautifulSoup(t20_rank_req.content, parser='html.parser')

t20_ranking=[]
for i in t20_rank_parser.find_all("a", class_="text-hvr-underline text-bold cb-font-16"):
    v=i.text
    t20_ranking.append(v)
print(t20_ranking[196:])
t20=t20_ranking[196:]

['Suryakumar Yadav', 'Mohammad Rizwan', 'Devon Conway', 'Babar Azam', 'Aiden Markram', 'Dawid Malan', 'Glenn Phillips', 'Rilee Rossouw', 'Aaron Finch', 'Alex Hales', 'Jos Buttler', 'Pathum Nissanka', 'Virat Kohli', 'Muhammad Waseem', 'Quinton de Kock', 'Rahmanullah Gurbaz', 'Brandon King', 'Nicholas Pooran', 'Reeza Hendricks', 'George Munsey', 'Rassie van der Dussen', 'KL Rahul', 'Martin Guptill', 'Rohit Sharma', 'Richie Berrington', 'Paul Stirling', 'Hazratullah Zazai', 'Finn Allen', 'Mitchell Marsh', 'David Miller', 'Litton Das', 'Charith Asalanka', 'Ishan Kishan', 'Kusal Mendis', 'Kane Williamson', 'Glenn Maxwell', 'Najibullah Zadran', 'Daryl Mitchell', 'David Warner', 'Marcus Stoinis', 'Tony Ura', 'Bhanuka Rajapaksa', 'Dasun Shanaka', 'Max ODowd', 'Ben Duckett', 'Ibrahim Zadran', 'Moeen Ali', 'Afif Hossain', 'Andrew Balbirnie', 'Jason Roy', 'Kushal Bhurtel', 'Iftikhar Ahmed', 'Hardik Pandya', 'Rovman Powell', 'Mohammad Nabi', 'Heinrich Klaasen', 'Shan Masood', 'Dipendra Singh Airee', 'Wesley Madhevere', 'Navneet Dhaliwal', 'Shreyas Iyer', 'Gerhard Erasmus', 'Shakib Al Hasan', 'Jonny Bairstow', 'Mahmudullah', 'Matthew Wade', 'Evin Lewis', 'Mohammad Naim', 'Lorcan Tucker', 'Sikandar Raza', 'Kyle Mayers', 'Harry Brook', 'Jatinder Singh', 'Rayyan Pathan', 'Zeeshan Maqsood', 'Craig Williams', 'Temba Bavuma', 'Sean Williams', 'Calum MacLeod', 'JJ Smit', 'Ben Cooper ', 'Matthew Cross', 'Fakhar Zaman', 'Najmul Hossain Shanto', 'Liam Livingstone', 'Rishabh Pant', 'Sese Bau', 'Usman Ghani', 'Stephan Baard', 'Chirag Suri', 'Vriitya Aravind', 'Dhananjaya de Silva', 'Ryan Burl', 'Mohammad Usman', 'Shimron Hetmyer', 'Craig Ervine', 'Norman Vanua', 'Harry Tector']

In [53]:
t20_ranks=pd.DataFrame(t20, columns=["T20_Ranking"])[:10]
Ranking_Men["T20_Ranking"]=t20_ranks["T20_Ranking"]
Ranking_Men

         Test_Ranking            ODI_Ranking       T20_Ranking
0  Marnus Labuschagne             Babar Azam  Suryakumar Yadav
1        Steven Smith  Rassie van der Dussen   Mohammad Rizwan
2          Babar Azam            Imam-ul-Haq      Devon Conway
3         Travis Head        Quinton de Kock        Babar Azam
4            Joe Root           David Warner     Aiden Markram
5     Kane Williamson            Virat Kohli       Dawid Malan
6        Rishabh Pant           Steven Smith    Glenn Phillips
7       Usman Khawaja           Rohit Sharma     Rilee Rossouw
8  Dimuth Karunaratne         Jonny Bairstow       Aaron Finch
9        Rohit Sharma           Fakhar Zaman        Alex Hales

In [57]:
Ranking_Men.index=np.arange(1,11)
Ranking_Men

          Test_Ranking            ODI_Ranking       T20_Ranking
1   Marnus Labuschagne             Babar Azam  Suryakumar Yadav
2         Steven Smith  Rassie van der Dussen   Mohammad Rizwan
3           Babar Azam            Imam-ul-Haq      Devon Conway
4          Travis Head        Quinton de Kock        Babar Azam
5             Joe Root           David Warner     Aiden Markram
6      Kane Williamson            Virat Kohli       Dawid Malan
7         Rishabh Pant           Steven Smith    Glenn Phillips
8        Usman Khawaja           Rohit Sharma     Rilee Rossouw
9   Dimuth Karunaratne         Jonny Bairstow       Aaron Finch
10        Rohit Sharma           Fakhar Zaman        Alex Hales